/* CSS declarations go here */

body{
  font-family:Lato;
}

h1,h2,h3,h4{
  font-family:Roboto;
}

.item h4:hover{
  cursor:move;
}

.jumbo-wrap .jumbo h1{
  font-size:64px;
  color:#E9573F;
  margin:0 0 50px 0;
  font-family:Roboto;
  font-weight:900;
}

.feature-wrap{
  padding:40px 0;
  background:#eee;
  margin-bottom:50px;
}

.get-started{
  font-size:28px;
}

.feature-wrap h2{
  color:#FC6E51;
  font-weight:500;
}

.navbar.navbar-default{
  background:#4A89DC;
  border-color:#4A89DC;
  border-radius:0;
  min-height:85px;
  margin-bottom:50px;
}

.navbar a.navbar-brand, .navbar a.navbar-link{
  color:white;
  font-family:Roboto;
  font-weight:500;
  font-size:24px;
  line-height:50px;
}

.navbar a.navbar-brand:hover{
  color:#E6E9ED;
}

.navbar a.navbar-link{
  font-size:16px;
  line-height:24px;
}

.tell-me-more-wrap{
  margin-bottom:50px;
}

.tell-me-more-wrap h1{
  font-size:48px;
  color:#E9573F;
  font-family:Roboto;
  font-weight:900;
}


.footer{
  background:#333;
  color:white;
  padding:10px;
}
