<template name="meeting">
  {{#with meeting}}
    <div class="container meeting" id="{{_id}}">
      <div class="row">
        <div class="col-xs-12">
          <p class="alert alert-info">Share This Meeting: <a href="{{urlFor 'meeting' meeting}}">{{urlFor 'meeting' meeting}}</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="text-center">To Discuss</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <form class="form new-topic">
                    <div class="input-group">
                      <input type="hidden" name="_id" value="{{_id}}">
                      <input name="text" type="text" placeholder="New Item..." class="form-control input">
                      <div class="input-group-btn">
                        <button class="btn btn-success"><span class="fa fa-plus-circle"></span></button>
                      </div>
                    </div>
                  </form>
                  <br>
                </div>
              </div>
              {{#each sortedToDoTopics}}
                {{> toDoTopic}}
              {{/each}}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="text-center">Discussing</h3>
            </div>
            <div class="panel-body">
              {{#if doingTopic}}
                {{> doingTopic }}
              {{else}}
                {{#if topicsToDiscuss sortedToDoTopics}}
                  {{> nextTopic}}
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="text-center">Discussed</h3>
            </div>
            <div class="panel-body">
              {{#each doneTopics}}
                {{> doneTopic}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/with}}
</template>
