<template name="home">
  <div class="jumbo-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbo text-center">
          <h1>Lean Coffee for Distributed Teams</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-wrap">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h2>Looking For a Better Way to Run Your Meetings?</h2>
        <p class="lead">
          Lean Coffee takes a simple approach to help you and your team
          <strong>make the most of your time together</strong>.
        </p>
        <h2>Want to Discuss the Most Important Topics First?</h2>
        <p class="lead">
          By starting with a list of sorted topics, your team will begin by
          discussing the <strong>most important topics first</strong>.
        </p>
        <h2>Tired of Wasting Your Team's Time?</h2>
        <p class="lead">
          Since each topic is discussed for only as long as necessary, and there
          is a time constraint on each topic, <strong>your meetings will be
          focused and short</strong>!
        </p>
        <h2>Already Love Lean Coffee, but Work Remotely?</h2>
        <p class="lead">
          Finally, Lean Coffee for distributed teams by people who
          <strong>absolute love Lean Coffee</strong>.
        </p>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <form class="form">
          <button type="submit" class="btn btn-success btn-block btn-lg get-started">Start my Free Lean Coffee&nbsp;<span class="fa fa-arrow-right"></span></button>
        </form>
      </div>
    </div>
  </div>
  <div class="tell-me-more-wrap">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1>How Does Lean Coffee Work?</h1>
        <p class="lead">
          This short video will tell you everything you need to
          know about running a lean coffee.
        </p>
        <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/zhG-A-kRPAU?rel=0" frameborder="0" allowfullscreen></iframe>
        <h2>Who Came up With This Great Idea?</h2>
        <p class="lead">
          Lean Coffee began in Seattle in 2009 thanks to Jim Benson and Jeremy
          Lightsmith. You can read more about Lean Coffee at
          the official <a href="http://leancoffee.org/">Lean Coffee website</a>.
        </p>
      </div>
    </div>
  </div>
</template>
